<nav><div class="column row">
  <div class="title-bar" data-hide-for="medium" data-responsive-toggle="main-menu">
  <div id="main-menu" class="top-bar">
    <div class="top-bar-left">
      <ul class="dropdown menu" data-dropdown-menu data-hide-for="small">
        <li menu-text = <%= link_to(root_path) do image_tag '/assets/GiftOnLogo.png' end %>></li>
      </ul>
    </div>
    </div>
  </div>
  </div>
</nav>
<table class="body-wrap" bgcolor="#f6f6f6" style="background-color: #f0f0f0; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; width: 100%; margin: 0; padding: 20px;"><tr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; margin: 0; padding: 0;">
<td style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; margin: 0; padding: 0;"></td>
    <td class="container" bgcolor="#FFFFFF" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; clear: both !important; display: block !important; max-width: 600px !important; Margin: 0 auto; padding: 20px; border: 1px solid #f0f0f0;">

      <!-- content -->
      <div class="content" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; display: block; max-width: 600px; margin: 0 auto; padding: 0;">
      <table style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; width: 100%; margin: 0; padding: 0;"><tr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; margin: 0; padding: 0;">
<td style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; margin: 0; padding: 0;">
            <p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 1.6em; font-weight: normal; margin: 0 0 10px; padding: 0;">Hi friends,</p>
            <p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 1.6em; font-weight: normal; margin: 0 0 10px; padding: 0;">In this update, I’d like to finally answer the question, what is GiftOn? Plus, I have amazing, incredible, jump-for-joy-worthy news. I hope you read on and join me in celebrating a truly major milestone.</p>
      <h1 style="font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-size: 36px; line-height: 1.2em; color: #111111; font-weight: 200; margin: 40px 0 10px; padding: 0;">What is GiftOn?</h1>
        <p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 1.6em; font-weight: normal; margin: 0 0 30px; padding: 0;">You, my family and friends, have supported me for a long time as I’ve been building a gift-giving solution. Late last year, you helped me win 3rd place in Chicago Startup Weekend, and your 1,600+ votes helped me win international 2nd runner-up in the 2015 Global Startup Battle Women’s Track. Since then, my team and I have tested various concepts and pivoted a few times to develop a gift solution that people want: GiftOn.</p>
    <h2 style="font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-size: 28px; line-height: 1.2em; color: #111111; font-weight: 200; margin: 40px 0 40px; padding: 0; text-align: center;">GiftOn is an online community and gift inspiration source that finally answers the question, <span style="font-style: italic; font-weight: 400;">what did other people do</span>?</h2>
            <p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 1.6em; font-weight: normal; margin: 0 0 40px; padding: 0;">We’ve all needed to buy gifts for people we recently met. Or, gifts for parents who already have everything and tell us to save our money when we ask them what they want for their birthdays. If this sounds familiar to you, you can <a href="http://www.letsgifton.com" target="_blank">join our exclusive pre-launch pilot community</a>.</p>
    <img src="https://s3.amazonaws.com/giftrassets/NEW+GiftOn/GiftOn+Logo.png" alt="Image: GiftOn Logo" class="emailImage_wide" style="margin: 0 auto; display: block; max-width: 300px; max-height: 500px;"/>
    <h1 style="font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-size: 36px; line-height: 1.2em; color: #111111; font-weight: 200; margin: 40px 0 10px; padding: 0;">What’s the Big News?</h1>
    <p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 1.6em; font-weight: normal; margin: 0 0 30px; padding: 0;">Brad’s Deals just launched a 6-month <a href="http://www.bradsdeals.com/about-us/womens-tech-accelerator/" target="_blank">Women in Tech Accelerator</a>, and they accepted GiftOn into their first cohort! I am on pins and needles, excited for this opportunity. WOOHOO!</p>
    <img src="http://www.bradsdeals.com/about-us/wp-content/themes/bdcorp/assets/img/wit-seal.png" alt="Image: Brads Deals Logo" class="emailImage_wide" style="margin: 0 auto; margin-bottom: 30px;display: block; max-width: 250px; max-height: 500px;"/>
    <p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 1.6em; font-weight: normal; margin: 0 0 40px; padding: 0;"><a href="http://www.bradsdeals.com" target="_blank">Brad’s Deals</a> is a Chicago-based company that brings together the best deals on the internet, all in one place. They’ve grown from a one-person operation in 2001 to a 70-person, employee-owned company that helped shoppers save more than $100 million in 2014.</p>
    <h1 style="font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-size: 36px; line-height: 1.2em; color: #111111; font-weight: 200; margin: 40px 0 10px; padding: 0;">What Else is Happening?</h1>
        <p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 1.6em; font-weight: normal; margin: 0 0 30px; padding: 0;">Dalal and her husband are temporary Chicago residents. They’re moving back home overseas next month. Dalal and I have known about this move since the start of our relationship, and we’ve been implementing a 3-month plan to transition her from a co-founder to an advisor. Part of our plan meant growing the GiftOn team.</p>
    <p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 1.6em; font-weight: normal; margin: 0 0 30px; padding: 0;">It is my sincere pleasure to introduce Gabrielle (left). She’s been volunteering her time to GiftOn since mid-July. Gabrielle manages GiftOn’s pilot user community and is currently planning a community soft-launch party on September 8th (p.s. <a href="https://www.eventbrite.com/e/gifton-community-soft-launch-tickets-27202935713" target="_blank">You’re all invited!</a>) We have also brought on another informal advisor, Raadhika (right). She has a background in strategy consulting at E&amp;Y with expertise in project roadmaps and fundraising.</p>
    <img src="https://s3.amazonaws.com/giftrassets/Mailing/TeamCollage.jpg" stye="margin: 0 auto; display: block;" alt="Image: New GiftOn Team Members" class="emailImage_wide" style="max-width: 100%; max-height: 500px;" />
    <h1 style="font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-size: 36px; line-height: 1.2em; color: #111111; font-weight: 200; margin: 40px 0 10px; padding: 0;">How Can You Help?</h1>
    <p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 1.6em; font-weight: normal; margin: 0 0 30px; padding: 0;">Join the exclusive <a href="https://facebook.com/groups/letsgifton" target="_blank">Let’s GiftOn</a> Facebook group and share your story of the best gift you ever gave (or got!) When you join our group, you'll get first access to gift idea inspiration from people's real-life stories about everything from silly Shark Tank sponges to surprise magicians. Whenever you share a story, I promise that the community will shower you with lots of love.</p>
            <p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 1.6em; font-weight: 600; margin: 0 0 20px; padding: 0;">I hope you've enjoyed reading this as much as I've enjoyed writing it. Please also update me on what's new with you. I’d love to support you with your projects in any way I can!</p>
            <p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 1.6em; font-weight: normal; margin: 0; padding: 0;">Until next time,</p>
            <p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 1.6em; font-weight: normal; margin: 0 0 20px; padding: 0;">Tatyana</p>
    <p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 1.6em; font-weight: normal; margin: 0 0 30px; padding: 0;">P.S. I know some of you have asked for the 5-minute video of me pitching GiftOn to a full house at 1871’s WiSTEM Showcase. <a href="https://drive.google.com/file/d/0B1oddgVYM8DBa2lFN0hIU3pOOEk/view?usp=sharing" target="_blank">Here it is!</a> <br> (The quality gets much better after the first 90 seconds.)</p>
    <img src="http://www.trbimg.com/img-577ff051/turbine/chi-bsi-wistem-1-ct0039668627-20160707" alt="Image: Tatyana Shestopalova pitching GiftOn at the WiSTEM Showcase" class="emailImage_wide" style="margin: 0 auto; margin-bottom: 30px;display: block; max-width: 100%; max-height: 500px;"/>
            <p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 12px; line-height: 1.6em; color: #666666; font-weight: 600; margin: 0; padding: 0;">Tatyana Shestopalova</p>
            <p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 12px; line-height: 1.6em; color: #666666; font-weight: normal; margin: 0; padding: 0;">Founder, GiftOn</p>
      <p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 12px; line-height: 1.6em; color: #666666; font-weight: normal; margin: 0; padding: 0;"><a href="http://www.letsgifton.com/?utm_source=May-Newsletter&amp;utm_medium=Email&amp;utm_campaign=GiftOn%20Update" target="_blank">letsgifton&#46;com</a></p>
      <p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 12px; line-height: 1.6em; color: #666666; font-weight: normal; margin: 0; padding: 0;">640 N LaSalle St., Suite 460</p>
      <p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 12px; line-height: 1.6em; color: #666666; font-weight: normal; margin: 0 0 10px; padding: 0;">Chicago, IL 60654</p>
    
      <table style="width: 100%;" bgcolor="#f6f6f6"><tr style="text-align: center;"><td>
        <h3 style="font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-size: 20px; line-height: 1.2em; color: #111111; font-weight: 200; margin: 20px 0 20px; padding: 0;">Follow GiftOn</h3>
        <p style="margin: 0 0 10px;">
      <a href="http://www.facebook.com/letsgifton" target="_blank" style="line-height: 23px; width: 30px; height: 30px; display: inline-block; text-align: center; padding-top: 5px;"><img style="width: 30px; height: 30px;" width = "30" height = "30" src="https://s3.amazonaws.com/giftrassets/Mailing/facebook_GiftOn.png"></a>&nbsp;
      <a href="http://twitter.com/letsgifton" target="_blank" style="line-height: 23px; width: 30px; height: 30px; display: inline-block; text-align: center; padding-top: 5px;"><img style="width: 30px; height: 30px;" width = "30" height = "30" src="https://s3.amazonaws.com/giftrassets/Mailing/twitter_GiftOn.png"></a>&nbsp;
        <a href="http://www.instagram.com/letsgifton/" target="_blank" style="line-height: 23px; width: 30px; height: 30px; display: inline-block; text-align: center; padding-top: 5px;"><img style="width: 30px; height: 30px;" width = "30" height = "30" src="https://s3.amazonaws.com/giftrassets/Mailing/Insta_GiftOn.png"></a></p></td></tr></table>
          </td>
        </tr></table>
</div>
      <!-- /content -->
      
    </td>
    <td style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; margin: 0; padding: 0;"></td>
  </tr>
</table>
 <!-- footer --><table style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; clear: both !important; width: 100%; margin: 0; padding: 0;"><tr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; margin: 0; padding: 0;">
<td style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; margin: 0; padding: 0;"></td>
    <td style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; clear: both !important; display: block !important; max-width: 600px !important; margin: 0 auto; padding: 0;">
      
    </td>
    <td style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; margin: 0; padding: 0;"></td>
  </tr></table>
<!-- /footer --> 