<nav><div class="column row">
  <div class="title-bar" data-hide-for="medium" data-responsive-toggle="main-menu">
  <div id="main-menu" class="top-bar">
    <div class="top-bar-left">
      <ul class="dropdown menu" data-dropdown-menu data-hide-for="small">
        <li menu-text = <%= link_to(root_path) do image_tag '/assets/GiftOnLogo.png' end %>></li>
      </ul>
    </div>
    </div>
  </div>
  </div>
</nav>
<table class="body-wrap" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; width: 100%; margin: 0; padding: 20px;"><tr style="background-color: #f0f0f0; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; margin: 0; padding: 0;">
    <td style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; margin: 0; padding: 0;"></td>
    <td class="container" bgcolor="#FFFFFF" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; clear: both !important; display: block !important; max-width: 600px !important; Margin: 0 auto; padding: 20px; border: 1px solid #f0f0f0;">

      <!-- content -->
      <div class="content" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; display: block; max-width: 600px; margin: 0 auto; padding: 0;">
      <table style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; width: 100%; margin: 0; padding: 0;"><tr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; margin: 0; padding: 0;">
<td style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; margin: 0; padding: 0;">
    <p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 1.6em; font-weight: normal; margin: 0 0 10px; padding: 0;">Hi friends,</p>
    <p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 1.6em; font-weight: normal; margin: 0 0 10px; padding: 0;">We're so excited to share with you the latest at GiftOn. Here's the scoop.</p>
    <h1 style="font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-size: 36px; line-height: 1.2em; color: #111111; font-weight: 200; margin: 40px 0 10px; padding: 0;">What's happened?</h1>
            <p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 1.6em; font-weight: normal; margin: 0 0 10px; padding: 0;">
<ol style="padding-left: 25px;">
    <li style="font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-size: 20px; line-height: 1.2em; color: #111111; font-weight: 500; margin: 40px 0 10px; padding: 0;"><h3 style="font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-size: 20px; line-height: 1.2em; color: #111111; font-weight: 500; margin: 40px 0 10px; padding: 0;">We've Grown!</h3><p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 1.6em; font-weight: normal; margin: 0 0 10px; padding: 0;">A couple months ago we added two local university students to our team to help us with marketing and user research. Say hello to Samantha and Marcella. They're awesome. We love them.</p><div style="text-align: center;"><img src="https://s3.amazonaws.com/giftrassets/Mailing/IMG_Interns.JPG" alt="Image: GiftOn Interns Samantha and Marcells" class="emailImage_tall" style="max-height: 500px;"/></div></li>
                <li style="font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-size: 20px; line-height: 1.2em; color: #111111; font-weight: 500; margin: 40px 0 10px; padding: 0;">
                    <h3 style="font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-size: 20px; line-height: 1.2em; color: #111111; font-weight: 500; margin: 40px 0 10px; padding: 0;">Absolutely Crushed Father's Day</h3>
                    <p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 1.6em; font-weight: normal; margin: 0 0 10px; padding: 0;">A huge thank you to everyone who completed our Father's Day survey last month. Your answers shaped our Father's Day content that attracted 3x more engagement on our partners' sites!</p>
                    <p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 1.6em; font-weight: normal; margin: 0 0 10px; padding: 0;">Here's what we published:<ul style="list-style-type: disc; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 1.6em; font-weight: normal; margin: 0 0 10px; padding: 0 15px;"><li><a href="https://30secondmom.com/tip/12228/5-Cliche-Fathers-Day-Gifts-That-Were-Actually-Done-Right" target="_blank">5 Clich&eacute; Father's Day Gifts That Were Actually Done Right</a></li><li><a href="https://30secondmom.com/tip/12238/4-Last-Minute-Fathers-Day-Gifts-You-Still-Have-Time-to-Get" target="_blank">4 Last-Minute Father's Day Gifts You Still Have Time to Get</a></li><li><a href="http://blog.classcrasher.com/2016/06/04/chicken-soup-for-the-fathers-day-soul-touching-tales-of-fathers-day-gift-giving" target="_blank">Touching Tales of Father's Day Gift Giving</a></li></ul></p><table style="width: 100%;"><tr><td><div stye="margin: 0 auto; display: block;"><img src="https://s3.amazonaws.com/giftrassets/Mailing/IMG_Father.jpg" stye="margin: 0 auto; display: block;" alt="Image: Happy Father's Day" class="emailImage_wide" style="max-width: 100%; max-height: 500px;" /></div></td></tr></table></li>
          </ol>
        </p>
        <h1 style="font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-size: 36px; line-height: 1.2em; color: #111111; font-weight: 200; margin: 40px 0 10px; padding: 0;">What's Next</h1>
        <h2 style="font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-size: 28px; line-height: 1.2em; color: #111111; font-weight: 200; margin: 40px 0 10px; padding: 0;">We're graduating!</h2>
        <p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 1.6em; font-weight: normal; margin: 0 0 30px; padding: 0;">Our WiSTEM accelerator at 1871 wraps up in three short weeks. We're so excited for what's next, and we'd like to celebrate with you. If you're in Chicago, come to our showcase where you'll see us pitch along with the rest of our cohort!</p>
            <!-- button -->
                <table class="btn-primary" cellpadding="0" cellspacing="0" border="0" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; width: auto !important; Margin: 0 auto; padding: 0; text-align: center;" align="center">
                  <tr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; margin: 0; padding: 0;"><td style="font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-size: 14px; line-height: 1.6em; border-radius: 25px; background: #348eda; text-align: center; vertical-align: top; margin: 0; padding: 0; border-color: #348eda; border-style: solid; border-width: 10px 20px;" align="center" valign="top" bgcolor="#348eda">
                      <a href="https://www.eventbrite.com/e/wistem-spring-2016-showcase-tickets-25936052431" target="_blank" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 2em; color: #ffffff; display: inline-block; cursor: pointer; font-weight: bold; text-decoration: none; margin: 0; padding: 0;" align="center">Register on Eventbrite</a>
                      </td>
                    </tr></table>
        <h1 style="font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-size: 36px; line-height: 1.2em; color: #111111; font-weight: 200; margin: 40px 0 10px; padding: 0;">What Do We Do?</h1>
        <p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 1.6em; font-weight: normal; margin: 0 0 40px; padding: 0;">GiftOn is a celebration of the human connection that happens when people give authentic gifts. We can't wait to tell you all the details about how it works in the next update. Or, come watch us pitch at our showcase!</p>
<!-- /button -->
        <p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 1.6em; font-weight: 600; margin: 0 0 20px; padding: 0;">I hope you've enjoyed reading this as much as I enjoyed writing it. Please also update me on what's new with you. I'd love to support you with your projects in any way I can!</p>
        <p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 1.6em; font-weight: normal; margin: 0; padding: 0;">Until next time,</p>
        <p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 1.6em; font-weight: normal; margin: 0 0 20px; padding: 0;">Tatyana</p>
        <p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 12px; line-height: 1.6em; color: #666666; font-weight: 600; margin: 0; padding: 0;">Tatyana Shestopalova</p>
        <p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 12px; line-height: 1.6em; color: #666666; font-weight: normal; margin: 0; padding: 0;">Co-Founder, GiftOn</p>
        <p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 12px; line-height: 1.6em; color: #666666; font-weight: normal; margin: 0; padding: 0;"><a href="http://www.letsgifton.com/?utm_source=May-Newsletter&amp;utm_medium=Email&amp;utm_campaign=GiftOn%20Update" target="_blank">letsgifton&#46;com</a></p>
        <p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 12px; line-height: 1.6em; color: #666666; font-weight: normal; margin: 0; padding: 0;">222 W Merchandise Mart Pl. #1212</p>
        <p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 12px; line-height: 1.6em; color: #666666; font-weight: normal; margin: 0 0 10px; padding: 0;">Chicago, IL 60654</p>
      <table style="width: 100%;" bgcolor="#f6f6f6"><tr style="text-align: center;"><td>
          <h3 style="font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-size: 20px; line-height: 1.2em; color: #111111; font-weight: 200; margin: 20px 0 20px; padding: 0;">Follow GiftOn</h3>
        <p style="margin: 0 0 10px;">
            <a href="http://www.facebook.com/givegiftr" target="_blank" style="line-height: 23px; width: 30px; height: 30px; display: inline-block; text-align: center; padding-top: 5px;"><img style="width: 30px; height: 30px;" width = "30" height = "30" src="https://s3.amazonaws.com/giftrassets/Mailing/facebook_GiftOn.png"></a>&nbsp;
            <a href="http://twitter.com/letsgifton" target="_blank" style="line-height: 23px; width: 30px; height: 30px; display: inline-block; text-align: center; padding-top: 5px;"><img style="width: 30px; height: 30px;" width = "30" height = "30" src="https://s3.amazonaws.com/giftrassets/Mailing/twitter_GiftOn.png"></a>&nbsp;
            <a href="http://www.instagram.com/letsgifton/" target="_blank" style="line-height: 23px; width: 30px; height: 30px; display: inline-block; text-align: center; padding-top: 5px;"><img style="width: 30px; height: 30px;" width = "30" height = "30" src="https://s3.amazonaws.com/giftrassets/Mailing/Insta_GiftOn.png"></a></p></td></tr></table>
    </td>
    </tr></table>
    </div>
      <!-- /content -->
      
    </td>
    <td style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; margin: 0; padding: 0;"></td>
    </tr>
    </table>
 <!-- footer --><table style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; clear: both !important; width: 100%; margin: 0; padding: 0;"><tr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; margin: 0; padding: 0;">
    <td style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; margin: 0; padding: 0;"></td>
    <td style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; clear: both !important; display: block !important; max-width: 600px !important; margin: 0 auto; padding: 0;">
      
    </td>
    <td style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; margin: 0; padding: 0;"></td>
    </tr></table>
