<nav class="column row">
  <div class="title-bar" data-hide-for="medium" data-responsive-toggle="main-menu">
    <div class="title-bar-title">
      <ul class="dropdown menu" data-dropdown-menu>
        <li><%= link_to(root_path) do image_tag '/assets/GiftOnLogo.png' end %>"</li>
      </ul>
    </div>
  </div>
  <div id="main-menu" class="top-bar">
    <div class="top-bar-left">
      <ul class="dropdown menu" data-dropdown-menu data-hide-for="small">
        <li class="menu-text"><%= link_to(root_path) do image_tag '/assets/GiftOnLogo.png' end %></li>
      </ul>
    </div>
  </div>
</nav>
          
<table class="body-wrap" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; width: 100%; margin: 0; padding: 20px;"><tr style="background-color: #f0f0f0; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; margin: 0; padding: 0;">
<td style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; margin: 0; padding: 0;"></td>
    <td class="container" bgcolor="#FFFFFF" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; clear: both !important; display: block !important; max-width: 600px !important; Margin: 0 auto; padding: 20px;">

      <!-- content -->
      <div class="content" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; display: block; max-width: 600px; margin: 0 auto; padding: 0;">
      <table style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; width: 100%; margin: 0; padding: 0;"><tr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; margin: 0; padding: 0;">
<td style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; margin: 0; padding: 0;">
            <p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 1.6em; font-weight: normal; margin: 0 0 10px; padding: 0;">Hi friends,</p>
            <p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 1.6em; font-weight: normal; margin: 0 0 10px; padding: 0;">I have some news. Four months ago, I founded a startup in Chicago. So much has happened since then, and in all the excitement I've found myself a bit out of touch with some of the people who care about me the most - my family and friends.  AKA, you! To remedy this, I'd like to start updating you on what's happening with the startup, what's next, and what you can do.</p>
            <h1 style="font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-size: 36px; line-height: 1.2em; color: #111111; font-weight: 200; margin: 40px 0 10px; padding: 0;">What's happened?</h1>
            <p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 1.6em; font-weight: normal; margin: 0 0 10px; padding: 0;">
<ol style="padding-left: 25px;">
                <li style="font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-size: 20px; line-height: 1.2em; color: #111111; font-weight: 500; margin: 40px 0 10px; padding: 0;"><h3 style="font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-size: 20px; line-height: 1.2em; color: #111111; font-weight: 500; margin: 40px 0 10px; padding: 0;">Became a developer &amp; met my co-founder</h3><p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 1.6em; font-weight: normal; margin: 0 0 10px; padding: 0;">In December 2014, I strung together my first line of code.  After ~1.5 years of hackathons and projects, I've become a full-stack developer. In November I attended a Startup Weekend competition and clicked with a wonderful fellow techie named Dalal. She's a developer with a background in private equity and an MBA from London Business School. When she's not building apps, she's biking around Chicago searching for the best peanut butter cookies. Together, we're kicking butt building out our <a href="http://www.techstars.com/content/uncategorized/announcing-the-2015-global-startup-battle-champions/" target="_blank">winning Startup Weekend</a> idea.</p><p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 1.6em; font-weight: normal; margin: 0 0 10px; padding: 0;">Check out the two of us hard at work:</p><img src="https://s3.amazonaws.com/giftrassets/Mailing/tatyana_dalal_1.jpg" alt="Image: Tatyana and Dalal Cranking Out Code" class="emailImage_wide" style="max-width: 100%; max-height: 500px;" /></li>
                <li style="font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-size: 20px; line-height: 1.2em; color: #111111; font-weight: 500; margin: 40px 0 10px; padding: 0;"><h3 style="font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-size: 20px; line-height: 1.2em; color: #111111; font-weight: 500; margin: 40px 0 10px; padding: 0;">Got into an accelerator. At 1871. NBD.</h3><p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 1.6em; font-weight: normal; margin: 0 0 10px; padding: 0;">So, <a href="http://www.1871.com/" target="_blank">1871</a>. You know, one of the world's largest tech incubators. With a check from Google for Entrepreneurs. Yeah, that 1871. Last year 1871 kicked off WiSTEM, an accelerator for female-led tech startups that's already sent one cohort company to <a href="http://www.builtinchicago.org/2016/01/26/top-50-chicago-startups-watch-2016" target="_blank">Y Combinator</a>. We're part of WiSTEM's second cohort! The Chicago Tribune <a href="http://www.chicagotribune.com/bluesky/originals/ct-wistem-new-class-bsi-20160310-story.html" target="_blank">wrote about us</a>.</p><p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 1.6em; font-weight: normal; margin: 0 0 10px; padding: 0;">Here's a shot of our WiSTEM cohort chatting with Howard Tullman, 1871's CEO:</p><table style="border: 0px !important; width: 100%;"><tr style="border: 0px;"><td><div stye="margin: 0 auto; display: block;"><img src="https://s3.amazonaws.com/giftrassets/Mailing/WiSTEM_4.jpg" stye="margin: 0 auto; display: block;" alt="Image: Tatyana and Dalal in WiSTEM" class="emailImage_wide" style="max-width: 100%; max-height: 500px;" /></div></tr></td></table></li>
              </ol>
            </p>
      <h1 style="font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-size: 36px; line-height: 1.2em; color: #111111; font-weight: 200; margin: 40px 0 10px; padding: 0;">How can you help?</h1>
            <h2 style="font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-size: 28px; line-height: 1.2em; color: #111111; font-weight: 200; margin: 40px 0 10px; padding: 0;">Tell me about your best Father's Day gift.</h2>
            <p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 1.6em; font-weight: normal; margin: 0 0 30px; padding: 0;">Father's Day is coming up and we're collaborating with another Chicago-based startup to publish a collection of Father's Day gifts. Have you ever given or received a Father's Day gift? What was the best one? Tell us about it via the link below, or forward this to a friend who celebrates this holiday.</p>
            <!-- button -->
                <table class="btn-primary" cellpadding="0" cellspacing="0" border="0" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; width: auto !important; Margin: 0 auto; padding: 0; text-align: center;" align="center">
                  <tr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; margin: 0; padding: 0;"><td style="font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-size: 14px; line-height: 1.6em; border-radius: 25px; background: #348eda; text-align: center; vertical-align: top; margin: 0; padding: 0; border-color: #348eda; border-style: solid; border-width: 10px 20px;" align="center" valign="top" bgcolor="#348eda">
                  <a href="https://nyu.qualtrics.com/SE/?SID=SV_7PpK6gGFj598qtn" target="_blank" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 2em; color: #ffffff; display: inline-block; cursor: pointer; font-weight: bold; text-decoration: none; margin: 0; padding: 0;" align="center">Take the FATHER'S DAY gift survey</a>
                </td>
              </tr></table>
              <table style="width: 100%;">
              <tr><td style="text-align: center;">
              <p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 12px; line-height: 1.6em; color: #666666; font-weight: normal; margin: 0 0 10px; padding: 0;">(It only takes 4 minutes)</p>
              </td></tr></table>
            <h1 style="font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-size: 36px; line-height: 1.2em; color: #111111; font-weight: 200; margin: 40px 0 10px; padding: 0;">What's next?</h1>
            <h2 style="font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-size: 28px; line-height: 1.2em; color: #111111; font-weight: 200; margin: 40px 0 10px; padding: 0;">A new website.</h2>
            <p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 1.6em; font-weight: normal; margin: 0 0 40px; padding: 0;">We've tested, tested, tested our startup concept and pivoted a few times since its inception at Startup Weekend. We're so excited that we've solidified our business direction, and we can't wait to launch a new landing page to reflect our change. Once we've built the new site, you'll be the first to know!</p>
<!-- /button -->
            <p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 1.6em; font-weight: 600; margin: 0 0 20px; padding: 0;">I hope you've enjoyed reading this as much as I enjoyed writing it. Please also update me on what's new with you. I would love to hear from you. Also, let me know if there is anything I can do to support you with your projects.</p>
            <p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 1.6em; font-weight: normal; margin: 0; padding: 0;">Until next time,</p>
            <p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 1.6em; font-weight: normal; margin: 0 0 20px; padding: 0;">Tatyana</p>
            <p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 13px; line-height: 1.6em; font-weight: normal; margin: 0 0 20px; padding: 0;">P.S. We have a new name. It's GiftOn!</p>
            <p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 12px; line-height: 1.6em; color: #666666; font-weight: 600; margin: 0; padding: 0;">Tatyana Shestopalova</p>
            <p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 12px; line-height: 1.6em; color: #666666; font-weight: normal; margin: 0; padding: 0;">Co-Founder, GiftOn</p>
      <p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 12px; line-height: 1.6em; color: #666666; font-weight: normal; margin: 0; padding: 0;"><a href="http://www.letsgifton.com/?utm_source=May-Newsletter&amp;utm_medium=Email&amp;utm_campaign=GiftOn%20Update" target="_blank">letsgifton&#46;com</a></p>
      <p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 12px; line-height: 1.6em; color: #666666; font-weight: normal; margin: 0; padding: 0;">222 W Merchandise Mart Pl. #1212</p>
      <p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 12px; line-height: 1.6em; color: #666666; font-weight: normal; margin: 0 0 10px; padding: 0;">Chicago, IL 60654</p>
      <table style="width: 100%;" bgcolor="#f6f6f6"><tr style="text-align: center;"><td>
        <h3 style="font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-size: 20px; line-height: 1.2em; color: #111111; font-weight: 200; margin: 20px 0 20px; padding: 0;">Follow GiftOn</h3>
        <p style="margin: 0 0 10px;">
      <a href="http://www.facebook.com/givegiftr" target="_blank" style="line-height: 23px; width: 30px; height: 30px; display: inline-block; text-align: center; padding-top: 5px;"><img style="width: 30px; height: 30px;" width = "30" height = "30" src="https://s3.amazonaws.com/giftrassets/Mailing/facebook_GiftOn.png"></a>&nbsp;
      <a href="http://twitter.com/letsgifton" target="_blank" style="line-height: 23px; width: 30px; height: 30px; display: inline-block; text-align: center; padding-top: 5px;"><img style="width: 30px; height: 30px;" width = "30" height = "30" src="https://s3.amazonaws.com/giftrassets/Mailing/twitter_GiftOn.png"></a>&nbsp;
        <a href="http://www.instagram.com/letsgifton/" target="_blank" style="line-height: 23px; width: 30px; height: 30px; display: inline-block; text-align: center; padding-top: 5px;"><img style="width: 30px; height: 30px;" width = "30" height = "30" src="https://s3.amazonaws.com/giftrassets/Mailing/Insta_GiftOn.png"></a></p></td></tr></table>
          </td>
        </tr></table>
</div>
      <!-- /content -->
      
    </td>
    <td style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; margin: 0; padding: 0;"></td>
  </tr>
</table>
 <!-- footer --><table style="border: none; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; clear: both !important; width: 100%; margin: 0; padding: 0;"><tr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; margin: 0; padding: 0;">
<td style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; margin: 0; padding: 0;"></td>
    <td style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; clear: both !important; display: block !important; max-width: 600px !important; margin: 0 auto; padding: 0;">
      
    </td>
    <td style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; margin: 0; padding: 0;"></td>
  </tr></table>
<!-- /footer --> 

<!-- /body -->
